.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #eae7e7;
}

.categories {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 1200px;
}

.category-tiles {
    display: flex;
    gap: 3%;
}

.category-tile {
    padding: 10px;
    text-align:center;
    height: 35px;
    margin: 5px;
    border: 1px solid #fe5e7f;
    border-radius: 30px;
    width: 120px;
    cursor: pointer;
}

.category-tile.selected {
    background-color: #fe5e7f;
    color: white;
}

.category-tile:hover {
    background-color: #fe5e7f;
}

.category-tile:active {
    background-color: #fe5e7f;
    color: aliceblue;
}

.meals {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 1200px;
}

.meal-tiles {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-gap: 30px;
}

.meal-tile {
    text-align: center;
    cursor: pointer;
}

.meal-tile img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.recipe {
    margin-top: 20px;
    text-align: center;
}

.recipeshow{
    margin: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: space-between;
    gap: 200px;

}

.recipe img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recipe ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
