.Login-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}


.cook{
    width: 100px;
    align-self: center;
    padding-top: 25%;
}

.Login-heading{
    font-size: xx-large;
}

.input-login-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.label {
    position: absolute;
    top: -12px; 
    left: 20px;
    background-color: white; 
    padding: 0 5px;
}

.input{
  /* border: 2px solid #ff0000; */
  padding: 10px;
  border-radius: 6px;
  height: 35px;
}

.input:active{
    boarder:2px solid #fe5e7f;
}

.submit{
    padding: 15px;
    border-radius: 6px;
    font-size: medium;
    color: beige;
    background-color: #fe5e7f;
    border: none;
}

.ul-acc{
    display: flex;
    padding-top: 1.5%;
    align-items: center;
    gap: 10px;
    padding-right: 40px;
    /* margin-right: 15px; */
}

.li-acc{
    list-style: none;
    font-size:small;
}

.li-acc1{
    list-style: none;
    font-size:small;
    color: #fe5e7f;
}

.li-acc1-a{
    text-decoration: none;
    color: #fe5e7f;
}